*{
	padding: 0;
	margin: 0;
}
.logo{
	float: left;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
nav{
	text-align: right;
}
nav ul li{
	padding-left: 50px;
	display: inline;
	height: 100px;
}
a:hover{
	text-decoration: none;

}
nav ul li a{
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	width: 100px;
	text-align: center;
}
nav ul li a:after{
	content: '';
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	display: block;
	left: 0;
	border-bottom: 3px solid red;
	transform: rotateY(90deg);
	transition: all 1s ease;
}
nav ul li a:hover:after{
	transform: rotateY(0deg);
} 
header{
	line-height: 90px;
	height: 90px;
	background-color: #f3f3f3;
}